@model List<Common.DTO.DtoDirecciones>

@{
    ViewBag.Title = "ListarDirecciones";
}

<h2>Lista de direcciones</h2>

<p>

    @Html.ActionLink("Agregar dirección", "AddDireccion", "Cliente", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Ciudad
            </th>
            <th>
                Barrio
            </th>
            <th>
                Número
            </th>
            <th>
                Apartamento
            </th>
            <th>
                Edificio
            </th>
            <th>
                Código cliente
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                 <td>
                    @Html.DisplayFor(modelItem => item.nombreDir)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ciudad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Barrio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apartamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edificio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idCliente)
                </td>
                <td>

                    @Html.ActionLink("Eliminar", "EliminarDireccion", "Cliente", new { id = item.idDireccion }, new { @class = "btn btn-danger" }) 
                
                </td>
            </tr>
        }
    </tbody>
</table>

