@model Common.DTO.DtoCliente
@{
    ViewBag.Title = "Perfil";
}

<h2>Perfil</h2>

@using (@Html.BeginForm("ConfirmarCambios", "Cliente"))
{
    @Html.ValidationSummary(true, "")


    <div class="row form-group">
        <div class="col-md-2">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="col-md-5">
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-2">
            @Html.LabelFor(model => model.Apellido)
        </div>
        <div class="col-md-5">
            @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-2">
            @Html.LabelFor(model => model.Telefono)
        </div>
        <div class="col-md-5">
            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2">
            @Html.LabelFor(model => model.NombreUsuario)
        </div>
        <div class="col-md-5">
            @Html.EditorFor(model => model.NombreUsuario, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NombreUsuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-2">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="col-md-5">
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="row form-group">
        <div class="col-md-2">
            @Html.LabelFor(model => model.contraseña)
        </div>
        <div class="col-md-5">
            @Html.EditorFor(model => model.contraseña, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.contraseña, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-2">
            @Html.LabelFor(model => model.Direccion)
        </div>
        <div class="col-md-5">
            @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
        </div>
    </div>



    <input type="submit" value="Confirmar Cambios" class="btn btn-primary" />
    @Html.ActionLink("Cancelar Cambios", "Index", "Home", new { @class = "btn btn-danger" })


}

@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")
   
}