@model List<Common.DTO.DtoPedido>

@{
    ViewBag.Title = "ListadoPedidos";
}

<h2>Pedidos pendientes</h2>
<h4>No urgentes</h4>

<p>
    @Html.ActionLink("Urgente", "ListarPedidoUrgente", "Pedido", new { @class = "btn btn-primary"})
   
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Estado
            </th>
            <th>
                Precio total
            </th>
            <th>
                Número
            </th>
            <th>
                Usuario
            </th>
            <th>
                Direccion
            </th>
            <th>
                Fecha de ingreso
            </th>
            <th>
                Urgente
            </th>

            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Urgente)
                </td>
       
                <td>
                    @Html.ActionLink("Detalle", "DetallePedidos", new { id = item.Numero }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Preparar", "PrepararPedidosV", new { id = item.Numero }, new { @class = "btn btn-primary" }) 

                </td>
            </tr>
        }
    </tbody>

</table>
