@model List<Common.DTO.DtoPedido>

@{
    ViewBag.Title = "TodosLosPedidos";
}

<h2>Todos los pedidos</h2>

<p>
    @Html.ActionLink("Volver", "ListarPedidoUrgente", "Pedido", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Estado
            </th>
            <th>
                PrecioTotal
            </th>
            <th>
                Numero
            </th>
            <th>
                Usuario
            </th>
            <th>
                Direccion
            </th>
            <th>
                FechaIngreso
            </th>
            <th>
                Urgente
            </th>
     
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Urgente)
                </td>
          
                <td>
                    @Html.ActionLink("Ver histórico", "HistoricoEstado", "Pedido", new { id = item.Numero }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    </tbody>
</table>
