@model List<Common.DTO.DtoProducto>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Aliyava Clientes</h1>

</div>

<script>

    $(document).ready(function () {

        $("#id_DropDownList").change(function () {
            var familiaSelect = $("#id_DropDownList").val();

            $.ajax({
                type: "GET",
                url: "http://localhost:50850/Home/Index1?familia=" + familiaSelect,

                data: data,
                success: function (data) {

                    $('#id_div_contiene_productos').html(data);
                }
            });
        });
    });




</script>



<div class="row">
    <div>
        <h2>Productos</h2>

    </div>


    @using (Html.BeginForm())
    {
        <div class="navbar  navbar-fixed-top" style="top:10px; left:1650px">
            <p>
                @Html.TextBox("SearchString", null, new { @class = "search_input" })
                <input type="submit" value="Buscar" />
            </p>
        </div>
        

        <p>
            @Html.ActionLink("Ordenar precios", "Index", new { sortOrder = ViewBag.PriceSort, currentFilter = ViewBag.CurrentFilter }, new { @class = "btn btn-primary" })
        </p>


        

        
    }

    <div>
        <div class="row" style="height:5000px; background-color: rgb(181, 181, 187);">
            <div class="container" id="searchable-container">
                @foreach (Common.DTO.DtoProducto item in Model)
                {

               
                    <div class="card">
                        <div id="card" class="panel panel-default " style="width: 250px; height: 250px; float:left;margin:10px; background-color: rgb(255, 255, 255)">

                            <div id="portada" class="card-title"><h4>@Html.DisplayFor(modelItem => item.Descripcion)</h4></div>

                            <div class="panel-body" style="width: 200px; height: 200px;">
                                <img class="img-responsive" src="@Html.DisplayFor(modelItem => item.ImagenPro)" style="width:auto; height: 175px;">

                            </div>
                            <div class="panel-footer">
                                <p>$ @Html.DisplayFor(modelItem => item.PrecioVenta)</p>
                                <p id="contenido">@Html.DisplayFor(modelItem => item.ProDescripcion)</p>
                                <p>
                                    @Html.ActionLink("Agregar al carrito", "CarritoV", "Pedido", new { id = item.Codigo },
                                            new { @class = "btn btn-primary" })
                                </p>

                                @Html.ActionLink("Ver", "ProductoInfo", "Home", new { id = item.Codigo }, new { @class = "btn btn-info" })
                            </div>
                            


                        </div>
                    </div>
                    <br />
                   
                }

            </div>
        </div>
    </div>

</div>
