@model Common.DTO.DtoProducto

@{
    ViewBag.Title = "ProductoInfo";
}


<div>
    <h2> @Html.DisplayFor(model => model.Descripcion)</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigoBarras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigoBarras)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Familia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Familia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioVenta)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Volver a inicio", "Index", "Home", new { @class = "btn btn-info" })
    @Html.ActionLink("Agregar al carrito", "CarritoV", "Pedido", new { id = @Html.DisplayFor(model => model.Codigo) },
                                       new { @class = "btn btn-primary" })
</p>
