@model List<Common.DTO.DtoProducto>

@{
    ViewBag.Title = "CarritoV";
}

<h2>Carrito</h2>


<table class="table">
    <thead>
        <tr>

            <th>
                Código de barras
            </th>
            <th>
                Descripción
            </th>
            <th>
                Familia
            </th>
            <th>
                Precio de venta
            </th>
            <th>
                Cantidad a preparar
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (Common.DTO.DtoProducto item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.codigoBarras)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Familia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioVenta)
                </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.CantidadPreparar)
                </td>
            
            </tr>
        }
    </tbody>

</table>
