@model List<Common.DTO.DtoProducto>

@{
    ViewBag.Title = "CarritoView";

}

<h2>Carrito</h2>


<table class="table">
    <thead>
        <tr>

            <th>
                Código de barras
            </th>
            <th>
                Descripción
            </th>
            <th>
                Familia
            </th>
            <th>
                Precio de venta
            </th>
            <th>
                Cantidad a preparar
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>

    <tbody>
        
        @if (Model != null)
        {

            foreach (Common.DTO.DtoProducto item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.codigoBarras)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Familia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecioVenta)
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.CantidadPreparar)
                    </td>
                    <td>

                        @Html.ActionLink("Ver", "ProductoInfo", "Home", new { id = item.Codigo }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Eliminar", "EliminarProCarrito", "Pedido", new { cod = item.Codigo }, new { @class = "btn btn-danger" })


                    </td>
                </tr>
            }
        }
    </tbody>

</table>

<div>


    @using (@Html.BeginForm("RealizarPedido", "Pedido"))
    {
        @*@Html.CheckBox("ChkUrgente")
        <label for="check" style="display:inline">Urgente</label>*@

    <label for="ChkUrgente">
        Urgente
        @Html.CheckBox("ChkUrgente", ViewData["ChkUrgente"])

    </label>


            <br />

            <input type="submit" value="Realizar Pedido" class="btn btn-primary" />
    }


    </div>

