@model IEnumerable<Common.DTO.DtoReporteMasVendido>

@{
    ViewBag.Title = "ReporteProMasVendido";
}

    <h2>Reporte productos mas vendidos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th></th>
    </tr>

@foreach (Common.DTO.DtoReporteMasVendido item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
    </tr>
}

</table>
