@model IEnumerable<Common.DTO.DtoReporteMasVendido>

@{
    ViewBag.Title = "ReproteProMasVendido";
}

<h2>ReproteProMasVendido</h2>

<p>
    @Html.ActionLink("ReproteProMasVendido", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th></th>
    </tr>

@foreach (Common.DTO.DtoReporteMasVendido item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
    </tr>
}

</table>
