@model List<Common.DTO.DtoCategoria>

@{
    ViewBag.Title = "ListarCategoria";
}

<h2>Listar categoría</h2>

<p>
    @Html.ActionLink("Agregar categorías", "AddCategoria", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Código de categoría
            </th>
            <th>
                Nombre
            </th>

            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Common.DTO.DtoCategoria item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idCategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>

                <td>
                    @Html.ActionLink("Eliminar", "RemoveCategoria", new { id = item.idCategoria }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Modificar", "ModificarCategoria", new { id = item.idCategoria }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
