@model List<Common.DTO.DtoProducto>


@foreach (Common.DTO.DtoProducto item in Model)
{


    <div class="card">
        <div id="card" class="panel panel-default" style="width: 250px; height: 250px; float:left;margin-left:10px; margin-bottom:130px; margin-right:15px;margin-top:15px; background-color: rgb(255, 255, 255)">

            <div id="portada" class="card-title" style="margin-left: 8px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: large;">@Html.DisplayFor(modelItem => item.Descripcion)</div>

            <div class="panel-body" style="width: 200px; height: 200px;">
                <img class="img-responsive" src="@Html.DisplayFor(modelItem => item.ImagenPro)" style="width:auto; height: 175px;">

            </div>
            <div class="panel-footer">
                <p>$ @Html.DisplayFor(modelItem => item.PrecioVenta)</p>
                <p id="contenido">@Html.DisplayFor(modelItem => item.ProDescripcion)</p>
                <p>
                    @Html.ActionLink("Agregar al carrito", "CarritoV", "Pedido", new { id = item.Codigo },
                            new { @class = "btn btn-primary" })
                </p>

                @Html.ActionLink("Ver", "ProductoInfo", "Home", new { id = item.Codigo }, new { @class = "btn btn-info" })
            </div>


        </div>
    </div>
}